BIONEST_CASH_API=https://bionestone.vercel.app/api/cash
BOT_API_SECRET=isi_secret_yang_sama_dengan_Vercel_BOT_API_SECRET
BIONEST_VIOLATION_API=https://bionestone.vercel.app/api/violation
VIOLATION_NOTIFY_JID=628xxxxxxxxxx@s.whatsapp.net
